# Applying Feature Engineering for AirBNB data:

In [1]:
import pandas as pd
df = pd.read_csv("airbnb prices.csv")
print(df.head())

    room_id  survey_id   host_id    room_type  country       city  borough  \
0  10176931       1476  49180562  Shared room      NaN  Amsterdam      NaN
1   8935871       1476  46718394  Shared room      NaN  Amsterdam      NaN
2  14011697       1476  10346595  Shared room      NaN  Amsterdam      NaN
3   6137978       1476   8685430  Shared room      NaN  Amsterdam      NaN
4  18630616       1476  70191803  Shared room      NaN  Amsterdam      NaN

              neighborhood  reviews  overall_satisfaction  accommodates  \
0  De Pijp / Rivierenbuurt        7                   4.5             2
1             Centrum West       45                   4.5             4
2          Watergraafsmeer        1                   0.0             3
3             Centrum West        7                   5.0             4
4   De Baarsjes / Oud West        1                   0.0             2

   bedrooms  bathrooms  price  minstay  \
0       1.0        NaN  156.0      NaN
1       1.0        NaN  126.0      NaN
2       1.0        NaN  132.0      NaN
3       1.0        NaN  121.0      NaN
4       1.0        NaN   93.0      NaN

                                             name               last_modified  \
0        Red Light/ Canal view apartment (Shared)  2017-07-23 13:06:27.391699
1  Sunny and Cozy Living room in quite neighbours  2017-07-23 13:06:23.607187
2                                       Amsterdam  2017-07-23 13:06:23.603546
3                    Canal boat RIDE in Amsterdam  2017-07-23 13:06:22.689787
4    One room for rent in a three room appartment  2017-07-23 13:06:19.681469

    latitude  longitude                                           location
0  52.356209   4.887491  0101000020E610000033FAD170CA8C13403BC5AA41982D...
1  52.378518   4.896120  0101000020E6100000842A357BA095134042791F477330...
2  52.338811   4.943592  0101000020E6100000A51133FB3CC613403543AA285E2B...
3  52.376319   4.890028  0101000020E6100000DF180280638F134085EE92382B30...
4  52.370384   4.852873  0101000020E6100000CD902A8A57691340187B2FBE682F...

In [2]:
df.shape

(18723, 20)

### Shape: 20 columns and 18723 rows

In [3]:
df.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

### from above observation, we can see that country, borough, bathrooms and minstay columns have complete missing (nan) values therefore i'll simply have to drop those colummns

In [4]:
df.drop(['country','borough','bathrooms','minstay'], axis = 1, inplace = True)
print(df.head())

    room_id  survey_id   host_id    room_type       city  \
0  10176931       1476  49180562  Shared room  Amsterdam
1   8935871       1476  46718394  Shared room  Amsterdam
2  14011697       1476  10346595  Shared room  Amsterdam
3   6137978       1476   8685430  Shared room  Amsterdam
4  18630616       1476  70191803  Shared room  Amsterdam

              neighborhood  reviews  overall_satisfaction  accommodates  \
0  De Pijp / Rivierenbuurt        7                   4.5             2
1             Centrum West       45                   4.5             4
2          Watergraafsmeer        1                   0.0             3
3             Centrum West        7                   5.0             4
4   De Baarsjes / Oud West        1                   0.0             2

   bedrooms  price                                            name  \
0       1.0  156.0        Red Light/ Canal view apartment (Shared)
1       1.0  126.0  Sunny and Cozy Living room in quite neighbours
2       1.0  132.0                                       Amsterdam
3       1.0  121.0                    Canal boat RIDE in Amsterdam
4       1.0   93.0    One room for rent in a three room appartment

                last_modified   latitude  longitude  \
0  2017-07-23 13:06:27.391699  52.356209   4.887491
1  2017-07-23 13:06:23.607187  52.378518   4.896120
2  2017-07-23 13:06:23.603546  52.338811   4.943592
3  2017-07-23 13:06:22.689787  52.376319   4.890028
4  2017-07-23 13:06:19.681469  52.370384   4.852873

                                            location
0  0101000020E610000033FAD170CA8C13403BC5AA41982D...
1  0101000020E6100000842A357BA095134042791F477330...
2  0101000020E6100000A51133FB3CC613403543AA285E2B...
3  0101000020E6100000DF180280638F134085EE92382B30...
4  0101000020E6100000CD902A8A57691340187B2FBE682F...

In [5]:
df.shape

(18723, 16)

### Shape: 16 columns and 18723 rows

In [6]:
df.isnull().sum()

room_id                  0
survey_id                0
host_id                  0
room_type                0
city                     0
neighborhood             0
reviews                  0
overall_satisfaction     0
accommodates             0
bedrooms                 0
price                    0
name                    52
last_modified            0
latitude                 0
longitude                0
location                 0
dtype: int64

### Here we can observe that Name variable has still 52 empty (nan) value

# Handling (Droping) missing values in Name variable:

In [7]:
df = df.dropna()
print(df.head())

    room_id  survey_id   host_id    room_type       city  \
0  10176931       1476  49180562  Shared room  Amsterdam
1   8935871       1476  46718394  Shared room  Amsterdam
2  14011697       1476  10346595  Shared room  Amsterdam
3   6137978       1476   8685430  Shared room  Amsterdam
4  18630616       1476  70191803  Shared room  Amsterdam

              neighborhood  reviews  overall_satisfaction  accommodates  \
0  De Pijp / Rivierenbuurt        7                   4.5             2
1             Centrum West       45                   4.5             4
2          Watergraafsmeer        1                   0.0             3
3             Centrum West        7                   5.0             4
4   De Baarsjes / Oud West        1                   0.0             2

   bedrooms  price                                            name  \
0       1.0  156.0        Red Light/ Canal view apartment (Shared)
1       1.0  126.0  Sunny and Cozy Living room in quite neighbours
2       1.0  132.0                                       Amsterdam
3       1.0  121.0                    Canal boat RIDE in Amsterdam
4       1.0   93.0    One room for rent in a three room appartment

                last_modified   latitude  longitude  \
0  2017-07-23 13:06:27.391699  52.356209   4.887491
1  2017-07-23 13:06:23.607187  52.378518   4.896120
2  2017-07-23 13:06:23.603546  52.338811   4.943592
3  2017-07-23 13:06:22.689787  52.376319   4.890028
4  2017-07-23 13:06:19.681469  52.370384   4.852873

                                            location
0  0101000020E610000033FAD170CA8C13403BC5AA41982D...
1  0101000020E6100000842A357BA095134042791F477330...
2  0101000020E6100000A51133FB3CC613403543AA285E2B...
3  0101000020E6100000DF180280638F134085EE92382B30...
4  0101000020E6100000CD902A8A57691340187B2FBE682F...

In [8]:
df.shape

(18671, 16)

### Shape: 16 columns and 18671 rows

In [9]:
df.isnull().sum()

room_id                 0
survey_id               0
host_id                 0
room_type               0
city                    0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

# Now we have completely processed our raw data which now contains zero missing values. Therefore now I can convert it into csv file which can be used for analysis using any BI tool (Tableau / Power BI)

### converting df to csv file

In [10]:
df.to_csv('AirBNB.csv', index = False)